@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{ 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    color: #d1d0cf;
    background: #141414;
}
.container-fluid{
    padding: 0 100px;
}
header#main-header{
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 99;
    background: rgba(20, 20, 20, 0.5) !important;
    backdrop-filter: blur(10px);
}
header .navbar-light .navbar-brand img.logo{
    width: 160px;
}
header .navbar .menu-header-menu-container, header .navbar .menu-main-menu-container{
    display: inline-block;
    width: 100%;
}
a{
    color: #d1d0cf;
    text-decoration: none;
    outline: medium none;
    transition: all 0.5s ease-out 0s;
}
header .navbar ul.navbar-nav{
    display: block;
    text-align: center;
}
header .navbar ul li{
    list-style: none;
    margin-right: 18px;
    position: relative;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}
header .navbar ul li.menu-item a{
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding: 0 0 0 10px;
    line-height: 70px;
    z-index: 9;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
}
header .navbar ul li.menu-item a:hover{
    color: #e50914 !important;
}
.navbar ul li:hover > .sub-menu{
    display: block !important;
    animation: fade-in 0.5s cubic-bezier(0.39,0.575,0.565,1) both;
}
.navbar ul li:hover .sub-menu{
    display: block;
    padding: 15px 0;
    background: #141414;
    position: absolute;
    top: 100%;
    left: 0;
    padding-left: 0;
    display: inline-block;
    min-width: 256px;
    box-shadow: 0 1px 30px 0 rgb(36 38 43 / 10%);
}
.navbar ul li .sub-menu li>.sub-menu{
    display: none;
}
.navbar .navbar-nav li:last-child .sub-menu li:hover>.sub-menu, .navbar .navbar-nav li:nth-last-child(2) .sub-menu li:hover > .sub-menu{
    left: auto;
    right: 100%;
    top: -15px;
}
.navbar ul li:last-child{
    margin-right: 0;
}
.navbar ul.navbar-nav>li.menu-item:hover > a, .navbar ul.navbar-nav > li.menu-item:hover>i{
    color: #e50914;
}

.navbar ul.navbar-nav>li.menu-item>a{
    text-transform: uppercase;
}
.navbar ul.navbar-nav>li:hover > a{
    font-weight: 600;
}

.navbar ul li.menu-item a{
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding: 0 0 0 10px;
    line-height: 70px;
    z-index: 9;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
}
.navbar ul li .sub-menu{
    display: none;
}
.navbar ul li .sub-menu li{
    margin-right: 0;
    padding: 0 15px;
}
.navbar ul.sub-menu li{
    display: block;
    text-align: left;
}
.navbar ul li{
    list-style: none;
    margin-right: 18px;
    position: relative;
    transition: all 0.3s ease-in-out;
    display: inline-block;
}

.menu-sticky .navbar ul li .sub-menu > li a{
    line-height: 1em;
}

.navbar ul li .sub-menu li > a{
    font-size: 14px;
    border-radius: 0;
    display: inline-block;
    width: 100%;
    line-height: 1em;
    padding: 15px;
    color: #d1d0cf;
    position: relative;
    overflow: hidden;
}

.navbar ul li.menu-item a{
    font-size: 16px;
    font-weight: 400;
    position: relative;
    padding: 0 0 0 10px;
    line-height: 70px;
    position: relative;
    z-index: 9;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    text-transform: capitalize;
}
.navbar ul li .sub-menu li>a::before{
    position: absolute;
    content: "";
    background: #e50914;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 4px;
    opacity: 0;
    transform: translate3d(-100%,0,0);
    transition: all 0.5s ease-in-out;
}

header .navbar ul li .sub-menu li.current-menu-parent>a::after, 
header .navbar ul li .sub-menu li .sub-menu li.menu-item.current-menu-item>a::after,
header .navbar ul li .sub-menu li .sub-menu li.menu-item:hover>a::after{
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: all 0.5s ease-in-out;
}

header .navbar ul li .sub-menu li:hover>a::after{
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: all 0.5s ease-in-out;
}
.navbar ul li .sub-menu li >a::after{
    position: absolute;
    content: "";
    background: linear-gradient(270deg, rgba(11,1,2,0) 0% , rgba(255,55,65,0.3) 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translate3d(-100%,0,0);
    transition: all 0.5s ease-in-out;
    z-index: -1;
    opacity: 0;
}

header .navbar ul li .sub-menu li:hover>a::before{
    opacity: 1;
    transform: translate3d(0,0,0);
    transition: all .5s ease-in-out;
}
.nav-open .nav-overlay{
    visibility: visible;
    transition: 0.3s;
}

.nav-overlay{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: 900;
    display: block;
    width: 100%;
    position: fixed;
    visibility: hidden;
    background: rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}
.more-toggle{
    color: #fff !important;
    font-size: 22px;
}

.dropdown-toggle.more-toggle::after{
    content: none;
}
.mobile-more-menu{
    display: none;
}
.more-menu{
    position: absolute;
    top: 50px;
    left: auto;
    right: 0;
    min-width: 18rem;
    padding: 0.35rem 0.5rem;
    margin: 0;
    opacity: 0;
    transform: translate(0,70px);
    transition: all 0.3s ease-out 0s;
    background: #191919;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.75);
    visibility: hidden;
    z-index: 999;
}
.more-menu.show{
    opacity: 1;
    transform: translate(0,0);
    visibility: visible;
}

header .navbar ul li:last-child{
    margin-right: 0;
}

.nav-item span.dots{
    height: 10px;
    width: 10px;
    font-size: 0;
    text-align: center;
    padding: 0;
    position: absolute;
    top: 3px;
    right: 12px;
    border-radius: 50%;
}
.menu-right .nav-items span.dots{
    right: 0;
}

.navbar-right li .iq-sub-dropdown .iq-sub-card{
    position: relative;
    font-size: inherit;
    padding: 15px 15px;
    line-height: normal;
    color: inherit;
    text-align: left;
    display: inline-block;
    width: 100%;
    border: 1px solid;
    border-image-slice: 1;
    border-width: 0 0 1px 0;
    border-image-source: linear-gradient(to right, rgba(209,208,207,0.6), rgba(209,208,207,0.3), rgba(209,208,207,0));
}
.iq-sub-card.setting-dropdown{
    padding: 15px 15px 15px 0 !important;

}

.navbar-right li .iq-sub-dropdown a.iq-sub-card:last-child{
    border-bottom: 0;
}
.notify-bg{
    overflow: hidden;
    z-index: 99;
}

.notify-bg::before{
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    width: 70px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    filter: blur(30px);
    transform: translateX(-100px) skewX(-30deg);
    animation: noti-before-animation 2s infinite 2s;
}

.notify-bg::after{
    content: "";
    display: block;
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100px) skewX(-30deg);
    animation: noti-after-animation 2s infinite 2s;
}

.navbar-right .iq-sub-dropdown .iq-card-body div{
    border-radius: 0;
}

.navbar-right .iq-show .iq-sub-dropdown,  .iq-show .search-box{
    opacity: 1;
    visibility: visible;
    transform: translate(0,0);
}

.navbar-right .iq-sub-dropdown{
    width: 300px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 15px;
    background: #191919;
    transform: translate(0,70px);
    transition: all 0.3s;
    padding: 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-out 0s;
    z-index: 1;
}
.navbar-light .navbar-toggler-icon{
    background: url(images/menu.png) no-repeat scroll center center;
}
.search-toggle:hover, header .navbar ul li.menu-item a:hover{
    color: #e50914 !important;
}

.search-wrapper{
    position: relative;
    display: inline-block;
    height: 36px;
    vertical-align: bottom;
}
.searchbutton{
    position: absolute;
    font-size: 22px ;
    width: 100%;
    margin: 0;
    padding: 0;
    right: 16px;
    color: #d1d0cf;
}

.search:focus+.searchbutton{
    transition-duration: 0.4s;
    color: #e50914;
}
.search:hover+.searchbutton{
    color: #fff;
}

.search{
    position: absolute;
    left: 49px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid transparent;
    padding: 0 0 0 16px;
    width: 0;
    height: 100%;
    z-index: 10;
    color: #fff;
    transition-duration: 0.4s;
}

.search:focus, .search:hover{
    width: 350px;
    padding: 0;
    border-color: #d1d0cf;
}
.expandright{
    left: auto;
    right: -6px;
    bottom: -2px;
}
.search::placeholder{
    color: #fff !important;
}

.noti-svg{
    animation: notify 1.5s ease infinite;
    fill: #d1d0cf;
}

.noti-svg:hover{
    fill: #e50914;
}

.search-box{
    position: absolute;
    left: 0;
    right: 0;
    top: 46px;
    min-width: 25rem;
    width: 100%;
    z-index: -1;
    opacity: 0;
    transform: translate(0,70px);
    transition: all 0.3s ease-out 0s;
    box-shadow:  0 0 20px 0 rgba(0, 0, 0, 0.15);
}

.search-toggle{
    padding: 0 !important;
}

.iq-search-bar .search-input{
    width: 100%;
    height: 40px;
    padding: 5px 15px 5px 40px;
    border: none;
    border-radius: 0;
    color: #fff;
    background: #191919 ;
}

.iq-search-bar .searchbox .search-link{
    position: absolute;
    left: 15px;
    top: 6px;
    font-size: 16px;
}

input,input[type="search"]{
    width: 100%;
    padding: 0px 15px;
    height: 48px;
    line-height: 48px;
    background: #141414;
    border: 1px solid #404043;
    border-radius: 0;
    color: #d1d0cf;
    transition: all 0.5s ease-in-out;
}

input:focus , input[type="search"]:focus{
    border-color: #e50914;
    box-shadow: none;
    outline: none;
}

.user-m{
    height: 40px;
    width: 40px;
    min-width: 40px;
    line-height: 40px;
    font-size: 0.6rem;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 500;
    margin: 0;
    line-height: 1.2;
    color: #fff;
}
h1 a, h2 a, h3 a, h4 a,h5 a,h6 a{
    color: inherit;
}

.font-size-12{
    font-size: 12px;
}
h6 .h6{
    font-size: 1.0em;
}

a.text-primary:focus, a.text-primary:hover{
    color: #e50914 !important;
}

.text-primary{
    color: #e50914 !important;
}
header#main-header.menu-sticky{
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(20, 20, 20, 0.5) !important;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
}


/* *********** Responsiveness of header ************** */
@media (min-width : 1300px){
    .container{
        max-width: 1170px;
    }
}
@media (min-width : 1499px){
    .container{
        max-width: 1266px;

    }
}

@media only screen and (min-width:1200px ) and (max-width : 1366px){
    .search:focus , .search:hover{
        width: 220px !important;
    }
}

@media (min-width:992px){
    .search-box{
        left: auto !important;
        right: 0 !important;
    }
}
@media (max-width:991px){
    header .navbar-light .navbar-brand img.logo{
        width: 100px;
    }
    .navbar-collapse{
        position: fixed;
        top: 0;
        left: 0;
        padding-bottom: 15px;
        width: 260px;
        height: 100vh;
        background: #191919;
        padding-top: 40px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0,0.2);
    }
    .vertical_s{
        position: static;
    }
    .navbar-collapse.collapsing{
        height: auto;
        transition: left 0.3s ease;
        left: -100%;
    }
    .navbar-collapse.show{
        left: -15px;
        transition: left 0.3s ease-in;
        z-index: 999;
    }
    header .navbar ul li.menu-item a{
        line-height: 10px;
        float: left;
        width: 100%;
        text-align: left;
        padding: 10px 30px;
        color: #fff;
    }
    .mobile-more-menu{
        display: block;
    }
    .menu-right{
        display: none;
    }
    .navbar-brand{
        padding: 0;
        margin-right: 0;
    }
    .more-menu .iq-sub-dropdown{
        width: 90%;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 60px;
    }

    .mobile-more-menu .iq-user-dropdown img{
        width: 40px;
    }
    .iq-search-bar .search-input{
        background: #141414;
        color: #d1d0cf;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.75);
    }
    .navbar-right li{
        position: static !important;
    }
    .container-fluid{
        padding-left: 30px;
        padding-right: 30px;
    }
    .main-header{
        padding: 10px 0;
    }
    .search-box{
        min-width: 16.2rem;
        top: 55px;
    }
    header .navbar ul li{
        display: block;
    }
}
@media (min-width : 576px){
    .iq-search-bar a.search-toggle{
        display: none;
    }
}

@media (min-width : 1499px){
    .container{
        max-width: 1200px;
    }
}

@media (max-width : 479px){
    header .navbar ul li.list-inline-item a{
        padding-left: 20px;
        padding-right: 20px;
    }
    header .navbar .iq-usermenu-dropdown>ul>li{
        position: static;
    }
    .search-box{
        left: 0;
        right: 0;
        min-width: 100%;
        width: 100%;
    }
    header .iq-usermenu-dropdown .iq-sub-dropdown{
        width: 250px;
    }
}

/* header menu responsiveness  */
@media screen and (min-width : 1200px){
    header .navbar ul li .sub-menu li a, header.menu-sticky .navbar ul li .sub-menu li a{
        white-space: nowrap;
    }
}
@media screen and (max-width : 4000px) and (min-width : 1200px){
    .navbar ul li:hover a, .navbar ul li:hover i{
        color: #e50914;
        text-decoration: none;
    }
}
@media (max-width :991px){
    .navbar ul.navbar-nav{
        overflow-y: scroll;
        overflow-x: hidden;
        max-height: 350px;
        display: inline-block;
        width: 100%;
    }
    .navbar ul{
        width: 100%;
        background: #191919;
    }
    header .navbar ul li a, header .navbar ul li.menu-item a{
        padding: 15px;
        z-index: inherit;
        text-align: left;
        font-weight: normal;
    }
    header .navbar ul li.menu-item a{
        line-height: 10px;
        float: left;
        width: 100%;
        text-align: left;
        padding: 10px 30px;
        color: #fff;
    }
    header .navbar ul li:hover .sub-menu{
        box-shadow: none;
    }
    header .navbar ul li .sub-menu, header .navbar ul li:hover .sub-menu{
        display: none;
        position: relative;
        top: 0;
        width: 100%;
        padding: 0;
        z-index: 9;
    }
    header .navbar ul li .sub-menu li .sub-menu li.menu-item a{
        background: transparent;
    }
    .navbar .navbar-nav li:last-child .sub-menu li:hover>.sub-menu, .navbar .navbar-nav li:nth-last-child(2) .sub-menu li:hover >.sub-menu{
        left: auto;
        right: 0;
        top: 0;
    }
}
/*slider main*/
.iq-main-slider{
    position: relative;
}

#home-slider ul.slick-dots{
    bottom: 30px;
}

#home-slider .slick-dots li{
    height: auto;
    width: auto;
}
#home-slider .slick-dots li button{
    height: 2px;
    width: 30px;
    background: rgba(229, 9, 20, 0.4);
    padding: 0;
}

#home-slider .slick-dots li.slick-active button{
    background: #e50914;
}

#home-slider li {
    position: relative;
}
.slider-description{
    position: absolute;
    top: 15%;
    left: 80px;
}
#home-slider h1.slider-text{
    font-size: 80px;
    margin: 15px 0;
}
#home-slider p{
    margin: 20px 0;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#home-slider .slick-bg{
    padding: 130px 0 50px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    z-index: 1;
}
#home-slider .slick-bg.s-bg-1{
    background-image: url(images/slider/slider1.jpg);
}
#home-slider .slick-bg.s-bg-2{
    background-image: url(images/slider/slider2.jpg);
}
#home-slider .slick-bg.s-bg-3{
    background-image: url(images/slider/slider3.jpg);
}

.slick-bg::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 35%, rgba(83,100,141,0) 100%);
    width: 100%;
    z-index: -1;
}
.trailor-video{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
    text-align: center;
}
.channel-name{
    color: #e50914;
    font-size: 20px;
    margin-left: 10px;
    letter-spacing: 2.5px;
    font-weight: 500;
}
.c-logo{
    width: 130px;
}

.channel-logo{
    border-left: 5px solid #e50914;
    background: transparent linear-gradient(270deg, rgba(11,1,2,0) 0%, rgba(255,55,65,0.3) 100%);
    padding: 10px 10px 10px 15px;
    width: 255px;
    position: relative;
    overflow : hidden;
}

.playbtn{
    display: inline-block;
}
.playbtn img{
    display: inline-block;
    width: 50px;
    filter: invert(1);
}
.playbtn img:hover{
    background: #e50914;
    border-radius: 50%;
    filter: invert(0);
}
.w-trailor{
    font-size: 17px;
    letter-spacing: 3.5px;
    font-weight: 600;
    color: #fff;
    margin-left: 5px;

}
.slider-inner{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.big-title{
   font-family: 'Playfair Display', serif;
   background: url(images/texure.jpg);
   background-repeat: repeat-x;
   background-position: 100% 100%;
   color: transparent;
   background-clip: text;
   -webkit-font-smoothing : antialiased;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.slick-track{
    margin: unset !important;
}
h1, .h1{
    font-size: 3.052em;
}
h2, .h2{
    font-size: 2.300em;
}
h3, .h3{
    font-size: 1.953em;
}
h4, .h4{
    font-size: 1.400em;
}
h5, .h5{
    font-size: 1.300em;
}
h6, .h6{
    font-size: 1.0em;
}
.slider-ratting ul li{
    margin-right: 5px;
}
.text-white{
    color: #fff !important;
}
.text-body{
    color: #d1d0cf !important;
}

.text-primary{
    color: #e50914 !important;
}

.iq-button.btn{
    padding: 12px 14px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
.btn{
    outline: medium none;
    padding: 9px 30px;
    position: relative;
    display: inline-block;
    border-radius: 0 !important;
    cursor: pointer;
    z-index: 4;
    transition: all 0.5s ease-out 0s;
}
.btn-hover{
    background: #bf000a;
    border: 1px solid #bf000a;
    color: #fff;
    transition:color 0.3s ease;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    position: relative;
    border-radius: 5px;

}

.btn-hover::before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #e50914;
    border: 1px solid #e50914;
    transform: scaleX(1);
    transform-origin: 50%;
    transition: transform 0.3s ease-out;

}
.btn-hover:hover, .btn-hover:focus, .btn-hover:active{
    color: #fff;
}
.btn-hover:focus{
    box-shadow: none !important;
}

.btn-hover:hover::before, .btn-hover:focus::before, .btn-hover:active::before{
    transform: scaleX(0);
}

.btn-link{
    background: transparent;
    color: #fff;
}
.btn-link:hover{
    color: #e50914;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}
a.text-primary:focus, a.text-primary:hover{
    color: #e50914 !important;
}
.w-trailor:hover{
    transition: all 0.5s ease;
    color: #e50914;
}
/*responsiveness*/

@media (min-width : 1499px){
    #home-slider h1.slider-text{
        margin: 25px 0 0;
    }
    #home-slider p{
        margin: 32px 0px;
    }
}
@media (max-width : 1199px){
    #home-slider .slick-bg{
        height: 100%;
    }
}
@media (max-width : 991px){
    .hover-buttons .btn{
        font-size: 10px;
    }
    #home-slider .slick-bg{
        padding: 50px 0;
    }

    .r-mb-23{
        margin-bottom: 23px;
    }

    .trailor-video{
        display: none;
    }
    #home-slider h1.slider-text{
        font-size: 35px;
    }
    .iq-main-slider{
        padding-top: 60px !important;
    }
}

@media (max-width : 767px){
    #home-slider h1.slider-text{
        line-height: 62px;
        margin: 0;
    }
    #home-slider p{
        margin: 22px 0; 
    }

    .iq-main-header{
        margin-bottom: 10px;
    }
    .main-content{
        padding-top: 25px;
    }
    #home-slider p{
        width: 100%;
    }
    .slick-bg::before{
        background: linear-gradient(-360deg, rgba(0,0,0,1) 0%, rgba(20,20,20,1) 40%,
         rgba(83,100,141,0) 100%);

    }
    .play-button i{
        font-size: 16px;
    }
    .play-button::after, .play-button::before{
        width: 40px;
        height: 40px;
    }
}